<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <!-- <h1>Router</h1>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/user">User</a></li>
        <li><a routerLink="/admin">ADMIN</a></li>
      </ul>
    </nav> -->
    <router-outlet></router-outlet>
    <!-- <footer>
      <h3>footer</h3>
    </footer> -->
  </div>
</body>

</html>