.bannerImg img{
    width: 100%;
    height: 600px;
    object-fit:cover;
}
.item{
    position: relative;
}
.item a {
    position: absolute;
    bottom: 13rem;
    left: 25%;
    text-decoration: none;
    color: white;
    background: rgb(223, 21, 21);
    padding: 10px 25px;
    font-size: 30px;
}
.item a:hover{
    background: rgb(104, 10, 10);
    transition: .3s
}
